<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registreren</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div class="container">
    <h1 class="heading">Registreren</h1>
    <form action="/register" method="POST" class="form">
      <input type="text" name="username" class="input" placeholder="Enter a username" required>
      <input type="password" name="password" class="input" placeholder="Enter a password" required>
      <button type="submit" class="login-button">Register</button>
    </form>
  </div>
</body>

</html>
 